:root {
  --darkreader-text--brand-color: #ff527a;
  --vice-color: #ffe6e8;
  --darkreader-text--vice-text-color: #ff527a;
  --black: #000;
  --darkreader-bg--white: #181a1b;
  --darkreader-text--white: #e8e6e3;
  --darkreader-bg--van-blue: #9b0024;
}
